<%= form_for(@query, remote: true) do |f| %>
  <% if @query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
      <% @query.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kind %><br>
    <%= f.select :kind, Query.kinds.map{|k,v| [t("query_kinds.#{k}"), k]} %><br>
  </div>
  <div class="field">
    <%= f.label :words %><br>
    <%= f.text_field :words %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :send_to_mail %><br>
    <%= f.text_field :send_to_mail %>
  </div>
  <div class="actions">
    <%= f.submit t("ok") %>
  </div>
<% end %>
