

<p id="notice"><%= notice %></p>


<% if query.query? %>
  <%=t "query_for" %>: <em><%= query.words %></em>
</p>
<% end %>

<% if query.category_kind? %>
<p>
  <%=t "query_for_category" %>: <em><%= query.category %></em>
</p>
<% end %>

<% if @query.send_to_mail.present? %>
<p>
  <%= t "sent_to_mail" %>: <em><%= query.send_to_mail %></em>
</p>
<% end %>

<% if query.results.any? %>
  <ol>
  <% query.results.each do |result| %>
    <%= render partial: "result", locals: {result: result} %>
  <% end %>
  </ol>
<% end %>
