<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @query.kind %>
</p>

<p>
  <strong>Words:</strong>
  <%= @query.words %>
</p>

<p>
  <strong>Category:</strong>
  <%= @query.category %>
</p>

<p>
  <strong>Send to mail:</strong>
  <%= @query.send_to_mail %>
</p>

<p>
  <strong>Response status:</strong>
  <%= @query.response_status %>
</p>

<p>
  <strong>Response error:</strong>
  <%= @query.response_error %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
